@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";



body {
  // font-size: larger;
  color: #333;
  transition: all 0.5s ease-in-out;
}

section{
  padding: 10px;
  padding-bottom: 50px;
  border-radius: 10px;

  input {
    position: sticky;
    top: 10px;
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    border-radius: 10px;

    margin-bottom: 10px;
  }

  .contains-current-tab{
    // text-decoration: underline;
    font-weight: bold;
  }
  #wrapper {
    min-width: 200px;
    min-height: 200px;
    text-align: right;
    transition: all 0.5s ease-in-out;
    
    > span {
      font-family: "Lucida Grande", Tahoma, sans-serif;
      font-size: 1.2em;
      color: #666;
      display: flex;
      justify-content: left;
      align-items: center;
      text-align: justify;
      white-space: nowrap;
      padding: 2px 10px;
      /*border-top: 1px solid #e0efef;*/
      cursor: pointer;
      // -webkit-transition: background 0.1s ease-out;

      &:first-child {
        border-top-color: transparent;
      }

      &:hover, &.focus {
        color: #000;
        border-radius: 5px;
        background: #C5ECFC;
      }

      &:hover + &:not(.create), .focus + &:not(.create) {
        border-top-color: transparent;
      }

      &.create {
        margin-bottom: 10px;
        border-top: 1px solid #eee;
        text-decoration: underline;
        // white-space: normal;
        font-size: 1.5em;
      }

      .node-icon{
        padding-right: 20px;
      }
    }
  }
}


